body {
  margin: 0px;
  padding: 0px;
  background: rgb(150, 150, 150);
  color: rgb(51, 49, 50);
}

.main_wrapper {
  background: white;
  margin: auto;
  width: 100%;
  min-width: 400px;
  max-width: 1000px;
  border: 1px solid black;
}

.header {
  text-align: center;
}

.header_name {
  /* color: rgb(51, 49, 50); */
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  padding: 0px;
  margin: -10px 0px;
}

.header_stripe {
  text-align: left;
  background: rgb(51, 49, 50);
  margin: 0px;
  padding: 2px 5px;
  color: whitesmoke;
  font-family: 'Rasa', serif;
  font-size: 1.5em;
}

.header_details {
  font-family: 'Rasa', serif;
  color: rgb(51, 49, 50);
  font-size: 1em;
  border-bottom: 1px solid rgb(51, 49, 50);
  margin-top: 5px;
}

/* navigation */

.main_nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  /* assumes you only want one row */
}

.main_nav li {
  display: inline;
  color: rgb(51, 49, 50);
  font-family: 'Rasa', serif;
  font-weight: bold;
  font-size: 2em;
}

.main_nav li a {
  color: rgb(51, 49, 50);
  text-decoration: none;
}

.main_nav li a:hover {
  color: rgb(214, 31, 38);
}

/* content */

.content_wrapper {
  margin: 10px;
  border: 1px solid yellow;
}

.content_wrapper h1 {
  font-family: 'Rasa', serif;
  font-weight: bold;
  font-size: 2em;
  color: rgb(214, 31, 38);
}

.content_wrapper h2 {
  font-family: 'Rasa', serif;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(51, 49, 50);
}

.content_wrapper h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(51, 49, 50);
}

.content_wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
}

.content_wrapper li {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
}

/* .about_image {
  min-width: 100px;
  margin: 5px;
}

.about_copy {
  min-width: 350px;
} */

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}


.flex.col {
  /* width: 50%; */
}

.project_description {

}


.project_image {
  order: -1;
}

.project_image img {
  max-width: 100%;
}

@media (min-width: 700px) {
  .flex {
    flex-wrap: nowrap;
  }
  .project_image {
    order: 2;
  }
  .project_image img {
    max-width: 200px;
    min-width: 100px;
  }
}

/* footer */

.footer {
  text-align: left;
  background: rgb(51, 49, 50);
  margin: 0px;
  padding: 10px 5px;
  color: whitesmoke;
  font-family: 'Rasa', serif;
  font-size: 1.5em;
}

.footer a {
  color: rgb(150, 150, 150);
  text-decoration: none;
}

.footer a:hover {
  color: rgb(226, 226, 226);
}