body {
  margin: 0px;
  padding: 0px;
  background: lightgray;
}
.page_container {
  width: 100%;
  margin: auto;
}

.main_container {
  border: 1px solid rgb(51, 255, 0);
  width: 100%;
}

.main_header {
  /* border: 1px solid rgb(4, 0, 255); */
  background: rgb(250, 250, 250);
}

.main_name {
  font-family: 'Oswald', sans-serif;
  /* font-size: 15vw; */
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  /* margin-top: -5%;
  margin-bottom: -3.5%; */
}

.main_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
}

.main_nav li {
  display: inline;
  color: rgb(51, 49, 50);
  font-family: 'Rasa', serif;
  font-weight: bold;
}

.main_nav li a {
  color: rgb(51, 49, 50);
  text-decoration: none;
}


.main_nav li a:hover {
  color: rgb(214, 31, 38);
}

.header_stripe {
  background: rgb(10, 10, 10);
  /* padding: 1%; */
  color: whitesmoke;
  font-family: 'Rasa', serif;
  font-size: 1em;
  /* font-size: 2vw; */
}

.stripe_text {
  margin: 0px;
  padding: 0px;
}